<%= form_with(model: @article) do |f| %>

  
  <div class="field">
    <%= f.label :title, "Título del Artículo", style: "display: block" %>
    <%= f.text_field :title%>
  </div>

  <%= f.hidden_field :created_by, value: current_user.email %>

  <div class="field">
    <%= f.label :photo, "Imagen", style: "display: block" %>
    <%= f.file_field :photo, :class=> "form_post_image" %>
  </div>
  
  <div class="field">
    <%= f.label :body, style: "display: block" %>
    <%= f.text_field :body, :class=> "form_post_body" %>
  </div>

  <div class="pt-3">
    <%= f.submit "Enviar", type: "submit", :class=> "btn btn-dark mb-2" %>
  </div>
<% end %>