<p style="color: green"><%= notice %></p>

<%= render @article %>

<div class="mt-2 ms-2">
  <%= link_to "Editar Post", edit_article_path(@article), :class=>"btn btn-dark" %> 
  <%= link_to "Volver", articles_path, :class=>"btn btn-dark" %>
  <%= button_to "Borrar post", @article, method: :delete, :class=>"btn btn-dark mt-2" %>
</div>